<div class="title">
    <h1 style="line-height: 0;">Welcome to the {{hotelName}}</h1>
    <span>such a lovely place</span> 
</div>
<div [hidden]="hideRooms">
    Number of Rooms:
    <div [ngStyle]="{'color': rooms.availableRooms > 0 ? 'blue' : 'red'}" [innerText]="numberOfRooms">
    </div>
</div>

{{ rooms.availableRooms ?? 'No rooms'}}

<!-- {{roomList | json}} -->
<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>


<div *ngIf="rooms.availableRooms > 0">
  <hinv-rooms-list [rooms]="roomList"
  (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>